* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  padding: 23px 45px 15px 23px;

  background-color: rgb(19, 57, 128);
}
.container1 {
  padding-right: 250px;
  padding-left: 0px;
  color: white;
}
.container1 a {
  color: white;
}

.container2 {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container2 a {
  color: white;
}
.container3 {
  margin-left: 400px;
}
.container3 i {
  margin-left: 2px;
  height: 30px;
  width: 30px;
  color: white;
}
#navbar {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}
#logo {
  margin: 12px 40px;
}
#logo img {
  height: 45px;
  margin: 3px 6px;
  border-radius: 15px;
}

#navbar ul {
  display: flex;
  
}
#navbar ul li {
  list-style: none;
  font-size: 1.4rem;
}

#navbar ul li a {
  color: rgb(35, 183, 241);
  display: block;
  padding: 3px 34px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}
#navbar a.it {
  color: black;
}

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  height: 450px;
}
#home::before {
  content: "";
  position: absolute;
  background-image: url(./image/bckweb2.jpg);
  background-size: cover;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}
.primary {
  font-family: "Bree Serif,serif";
  font-size: 2.4rem;
  padding: 10px;
}
#home h1 {
  color: white;
  text-align: center;
}
#home p {
  color: white;
  text-align: center;
  font-family: "bree Serif", serif;
  margin-top: 33px;
  padding: 0px 200px;
}
.btn {
  padding: 15px 20px;
  border: 2px solid white;
  background-color: rgb(204, 240, 247);
  color: rgb(24, 21, 21);
  margin: 50px 20px;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
}
.Home1 {
  display: flex;
  padding: 2%;
  background-color: rgb(223, 238, 250);
  height: 800px;
}

#services {
  display: flex;
  flex-wrap: wrap;
  flex: 1 58%;
}
.box {
  border-radius: 7px;
  background: #f8f4f4;
  flex: 1 42%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(48, 110, 245);
  opacity: 0.89;
  transform: scale(1.1);
  transition-duration: 1s;
}

#services .box img {
  height: 50px;
  border-radius: 4px;
}

#services .box p {
  font-family: cursive;
  text-align: center;
  color: gray;
}
#info {
  flex: 1 38%;
}
#info h5 {
  padding: 48px;
  margin: 34px 150px 3px 4px;
  font-size: 1rem;
  color: gray;
}
#info h1 {
  font-size: 2.8rem;
}
#info p {
  padding: 34px;
  font-size: 1rem;
  font-family: cursive;
  color: grey;
}
.bux {
  background-color: rgb(48, 110, 245);
}
.btn1 {
  padding: 14px;
  margin: 16px 30px 28px 150px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  color: white;
  background-color: rgb(41, 147, 235);
  cursor: pointer;
}

#Home2 {
  height: 600px;
  width: 100%;
  background-image: url(./image/happy-business-woman-pointing-copyspace_171337-8496.jpg);
  background-size: cover;
}
#Home2 h5 {
  justify-content: center;
  align-items: center;
  padding: 33px;
  margin: 0px 34px -64px;
  color: gray;
}
#Home2 .para2 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 34px;
}
#Home2 p {
  font-size: 1rem;
  font-family: cursive;
  padding: 34px;
  margin: -65px 63px 21px 27px;
  color: gray;
}

.btn2 {
  padding: 14px;
  margin: 16px 30px 28px 150px;
  font-size: 2.4rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  color: white;
  background-color: rgb(41, 147, 235);
  cursor: pointer;
}
.btn2 a {
  text-decoration: none;
  color: white;
}

.btn2:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}

.Home3 {
  height: auto;
  background-color: rgb(241, 248, 253);
}
#services1 {
  display: flex;
  flex-wrap: wrap;
}
.box1 {
  border-radius: 2px;
  background: #f8f4f4;
  display: flex;
  margin: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services1 .box1 {
  flex: 1 20%;
}
#services1 .box1 img {
  height: 100px;
  border-radius: 14px;

}

#services1 .box1 p {
  font-family: cursive;
  text-align: center;
  color: gray;
}
.Home3 h6 {
  font-size: 1rem;
  padding: 34px;
  margin: 0px 23px 1px 540px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.Home3 .para3 {
  font-size: 2.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: -20px 23px 12px 250px;
}

#services2 {
  display: flex;
}

.Home4 h6 {
  font-size: 1rem;
  padding: 34px;
  margin: 2px 23px 1px 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
.Home4 .para4 {
  margin: -12px 34px 45px 300px;
  font-size: 2.8rem;
}

#services2 .box3 img {
  height: 200px;
  width: 337px;
}

.background2 h4 {
  padding: 150px 23px 34px 34px;
  margin: -100px 23px 34px 510px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.background2 .para5 {
  margin: -56px 34px 45px 480px;
  font-size: 3rem;
  color: rgb(17, 16, 16);
  font-family: Arial, Helvetica, sans-serif;
}

.background2::before {
  content: "";
  background-image: url(./image/bck3.jpg);
  background-size: cover;
  position: absolute;
  height: 60%;
  width: 100%;
  z-index: -1;
}
#services3 .para6 {
  display: initial;
  /* padding: 80px 45px 45px 87px;*/
  margin: 4px 23px 34px 65px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(34, 39, 32);
}
.ind {
  display: flex;
  flex-direction: row;
}
.ind i {
  height: 50px;
  padding: 5px;
  margin: 0px 12px 0px 0px;
}
.box3 {
  flex: 1 25%;
  height: 280px;
}

#services2 .box3 h1 {
  color: white;
}
.hell {
  background-image: url(./image/gallery-1.jpg);
  background-size: cover;
}
.hell > h1 {
  display: none;
}
.hell:hover h1 {
  display: block;
}
.hell:hover {
  opacity: 0.5;
}

.hell1 {
  background-image: url(./image/gallery-3.jpg);
  background-size: cover;
}
.hell1 > h1 {
  display: none;
}
.hell1:hover h1 {
  display: block;
}
.hell1:hover {
  opacity: 0.5;
}

.hell2 {
  background-image: url(./image/gallery-1.jpg);
  background-size: cover;
}
.hell2 > h1 {
  display: none;
}
.hell2:hover h1 {
  display: block;
}
.hell2:hover {
  opacity: 0.5;
}

.hell3 {
  background-image: url(./image/gallery-4.jpg);
  background-size: cover;
}
.hell3 > h1 {
  display: none;
}
.hell3:hover h1 {
  display: block;
}
.hell3:hover {
  opacity: 0.5;
}

.Home5 {
  height: auto;
  background-color: rgb(248, 249, 250);
}
#services4 {
  display: flex;
  flex-wrap: wrap;
}
.box4 {
  border-radius: 2px;
  background: #fffefe;
  display: flex;
  margin: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services4 .box4 {
  flex: 1 20%;
}
#services4 .box4 img {
  height: 100px;
  border-radius: 8px;
}

#services4 .box4 p {
  font-family: cursive;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(148, 151, 151);
  margin: -30px 23px 23px 23px;
}
.Home5 h6 {
  font-size: 1rem;
  padding: 34px;
  margin: 0px 23px 1px 540px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.Home5 .para4 {
  font-size: 2.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: -20px 23px 12px 490px;
}

.box4:hover {
  background-color: rgb(48, 110, 245);
  opacity: 0.89;
  transform: scale(1.1);
  transition-duration: 1s;
}


.Home6 h6 {
  font-size: 1rem;
  padding: 34px;
  margin: 0px 23px 1px 540px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.Home6 .para7 {
  font-size: 2.6rem;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: -20px 23px 12px 465px;
}

#services5 {
  display: flex;
}
.Home6 {
  height: auto;
  background-color: rgb(220, 238, 252);
}
#services5 {
  display: flex;
  flex-wrap: wrap;
}
.box5 {
  border-radius: 2px;
  background: #fcfbfb;
  display: flex;
  margin: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services5 .box5 {
  flex: 1 20%;
}
#services5 .box5 img {
  height: 100px;
  border-radius: 14px;
  margin: 1px 23px 34px 21px;
}

#services5 .box5 p {
  font-family: cursive;
  text-align: center;
  color: gray;
  margin: 12px 23px 23px 34px;
}

#services5 .box5 h2{
  margin: -27px 14px 23px 23px;
}

#services5 .box5 h3 {
  margin: -20px 14px 23px 30px;
}

.bux1 {
  background-color: rgb(48, 110, 245);

}

.box5:hover {
  background-color: rgb(48, 110, 245);
  opacity: 0.89;
  transform: scale(1.1);
  transition-duration: 1s;
}

.Home7 {
  height: auto;
  background-color: rgb(248, 249, 250);
}
#services6 {
  display: flex;
  flex-wrap: wrap;
}
.box6 {
  border-radius: 2px;
  background: #fffefe;
  display: flex;
  margin: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services6 .box6 {
  flex: 1 20%;
}
#services6 .box6 img {
  height: 340px;
  border-radius: 1px;
}

#services6 .box6 p {
  font-family: cursive;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(148, 151, 151);
  margin: -20px 23px 23px 5px;
}
.Home7 h6 {
  font-size: 1rem;
  padding: 34px;
  margin: 0px 23px 1px 540px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.Home7 .para8 {
  font-size: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: -20px 23px 12px 490px;
}

.box6:hover {
  background-color: rgb(48, 110, 245);
  opacity: 0.89;
  transform: scale(1.1);
  transition-duration: 1s;
}
#services6 .secondary3{
  margin: -23px 23px 23px 23px;
}



.ind1 {
  display: flex;
  flex-direction: row;
}
.ind1 i {
  height: 50px;
  padding: 5px;
  margin: 30px 12px 0px 0px;
}

.background3 h4 {
  padding: 100px 23px 34px 34px;
  margin: -70px 23px 34px 70px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.background3 .para9 {
  margin: -56px 34px 45px 100px;
  font-size: 3.2rem;
  color: rgb(17, 16, 16);
  font-family: Arial, Helvetica, sans-serif;
}

.background3::before {
  content: "";
  background-image: url(./image/bck4.jpg_fit=scale);
  background-size: cover;
  position: absolute;
  height: 60%;
  width: 100%;
  z-index: -1;
}

.btn3{
  padding: 14px;
  margin: -140px 30px 28px 600px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  color: white;
  background-color: rgb(41, 147, 235);
  cursor: pointer;
}

.Home8{
  display: flex;
}
.Home8 img{
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
.Home8 .para10{
  color: rgb(100, 96, 96);
}
.Home8::before {
  content: "";
  background-image: url(./image/2725690.jpg);
  background-size: cover;
  position: absolute;
  height: 60%;
  width: 100%;
  z-index: -1;
}
.union{
  display: flex;
  flex-direction: column;
}

.union h4{
  margin: 23px 23px 23px 23px;
}
.union h4 b{
  color: rgb(15, 15, 168);
}
.union .para10{
  margin:-9px 23px 23px 18px;
}
.ind2 {
  display: flex;
  flex-direction: row;
  color: rgb(7, 7, 83);
}
.ind2 i {
  height: 50px;
  margin:-5px 12px 0px 33px;


}

.union1{
  display: flex;
  flex-direction: column;
}

.union1 h2{
  margin: 23px 23px 23px 23px;
  color: rgb(41, 41, 182);
}
.union2 p{
  margin: -15px 23px 23px 23px;
  color: gray;
}

.union4 img{
  margin: 0px 0px 0px 23px;
}

.union5 img{
  margin: 0px 0px 0px 23px;
}
.union2{
  display: flex;
  flex-direction: column;
}

.union2 h3{
  margin: 23px 23px 23px 23px;
  color:  rgb(41, 41, 182);
}
.union4{
  display: flex;
}

.union5{
  display: flex;
}

.union3{
  display: flex;
  flex-direction: column;
}

.union3 h3{
 margin: 23px 23px 23px 100px;
 color: rgb(41, 41, 182);
}

.union3 i{
  margin: 30px 23px -24px 100px;
  color:  rgb(9, 9, 102);
}

.union3 a{
 margin: 12px 0px 0px 0px;
}




.copy {
  background-color: rgb(15, 3, 68);
  color: white;
  padding: 6px 2px 3px 4px;
  margin: 60px 0px 0px 0px;
}
.copy h3{
  margin: 10px 23px 23px 280px;
}